@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.nunito-400 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nunito-500 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.nunito-600 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-400 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.playwrite-dk-loopet-400 {
    font-family: "Playwrite DK Loopet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.playfair-display-400 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}
  
body {
    position: relative;
    line-height: 1.5;
    padding-bottom: 2em;
    padding-inline: 1em;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input, button, textarea, select {
    font: inherit;
}

button{
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#root, #__next {
    isolation: isolate;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/* Hide Scroll bar */
body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none; 
}

/* Nav Bar */
nav {
    background: white;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid  black;
}

.option{
    position: relative;
    width: 4em;
    text-align: center;
}

.option::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    scale: 0;
    background-color: black;
    transition: all .2s ease-in-out;
}

.option:hover::after{
    scale: 1;
}

.inner-navbar{
    width: 40%;
    margin-inline: auto;
    display: flex;
    padding-block: 10px;
    justify-content: space-between;
    align-items: center;
}

.shop-name{
    font-size: 1.5rem;
}

/* Hero */
section.hero{
    align-items: center;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 500px;
}

.cta-button{
    margin-top: 2em;
    display: flex;
    gap: 10px;
}

.hero-images{
    width: 100%;
}

/* Favourite Menu */
section.favourite-menu{
    margin-top: 5em;
}

section.favourite-menu .favourite{
    display: flex;
    justify-content: center;
    margin-inline: auto;
    margin-top: 2em;
}

section.favourite-menu .menu{
    width: 150px;
    margin-inline: 1em;
    justify-items: center;
}

section.favourite-menu .img{
    width: 150px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}

section.favourite-menu .desc-2{
    margin-top: 5px;
    text-align: center;
}

section.favourite-menu .desc-3{
    text-align: center;
}

section.favourite-menu .menu.active{
    width: 200px;
}

section.favourite-menu .active .img{
    width: 200px;
}

/* About Us  */
section.ceo-section{
    margin-top: 5em;
}

section.ceo-section .ceo{
    margin-top: 2em;
    display: grid;
    grid-template-columns: 600px 1fr;
}

section.ceo-section .img{
    border-radius: 10px;
    overflow: hidden;
}

section.ceo-section .text{
    justify-self: center;
    width: 70%;
}

section.ceo-section .desc-2{
    margin-top: 5px;
}

/* Reward Section */
section.reward-section{
    margin-top: 5em;
}

section.reward-section .title{
    width: 60%;
    text-align: center;
    margin-inline: auto;
}

section.reward-section .reward-btn{
    justify-self: center;
}

section.reward-section .reward-btn a{
    padding: 15px 20px;
    margin-top: 1em;
    font: 1.2rem;
    display: block;
}

section.reward-section .reward{
    justify-self: center;
    display: flex;
    gap: 50px;
    margin-top: 2em;
}

section.reward-section .img-reward{
    width: 250px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}

/* Global CSS */
.helper{
    border: 1px solid red;
}

.hidden{
    opacity: 0;
    transform: translateY(20px);
    transition: all .2s ease-in-out;
}

.ease-anim{
    transition: all .5s ease-in-out;
}

.title{
    font-size: 4.5rem;
}

.title-2{
    font-size: 3.5rem;
}

.title-3{
    font-size: 3rem;
}

.title-4{
    font-size: 2.5rem;
}

.desc{
    font-size: 1.1rem;
}

.desc-2{
    font-size: 1rem;
}

.desc-3{
    font-size: .9rem;
}

.max-screen{
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
}

.main-button{
    background-color: black;
    color: white;
    border-radius: 5px;
    width: auto;
    overflow: hidden;
    padding-block: 8px;
    padding-inline: 7px;
    border: 1px solid black;
}

.main-button span{
    position: relative;
    width: 100%;
    z-index: 1;
}

.main-button span::after{
    pointer-events: none;
    position: absolute;
    content: '';
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 150%;
    aspect-ratio: 1/1;
    background: white;
    transition: all .3s ease-in-out ;
    border-radius: 100%;
    z-index: -1;
}

.main-button:hover span::after{
    transform: translate(-50%, 40%);
}

.main-button:hover span{
    color: black;
}

.secondary-button{
    width: auto;
}

nav .active{
    position: relative;
}

nav .active::after{
    position: absolute;
    top: 0;
    right: -10px;
    width: 7px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    content: '';
    background-color: red;
}